.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Kadwa", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #1c5c00;
}

/* =======================================
   Login page 
   ======================================= */

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 60vh;
  justify-content: space-between;
  background-color: #e7f0dc;
  padding: 20px;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 24px;

  color: #729762;
}

.login-input {
  border-radius: 10px;
  box-shadow: none;
  inset: none;
  border: none;
  background-color: #fff;
  font-size: 24px;
  padding: 5px;
}

.login-button {
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #729762;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  border: none;
}

.login-text-wrapper {
  display: flex;
  justify-content: space-between;
}

/* =======================================
   ForgetPasswordModal
   ======================================= */

.forget-password-modal-outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.forget-password-modal {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 1%;
}

.forget-password-modal-close-btn {
  background-color: white;
  align-self: end;
  border: none;
}

/* =======================================
   Navbar 
   ======================================= */

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #e7f0dc;
  color: #729762;
  height: 60px;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarBrand h2 {
  margin: 0;
  margin-left: 10px;
  font-size: 24px;
  color: #729762;
}

.navbarMenu {
  display: flex;
  gap: 20px;
}

.navbarMenu a {
  text-decoration: none;
  color: #729762;
}

.burgerIcon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burgerIcon div {
  width: 25px;
  height: 3px;
  background-color: #729762;
}

.navLogo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

/* =======================================
   Footer 
   ======================================= */

.footerContainer {
  background-color: #729762;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  position: relative;
}

.footerLeftColumn,
.footerRightColumn {
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-size: 15px;
}

.footerLeftColumn h3,
.footerRightColumn h3 {
  margin: 5px 0;
}

.brandDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.brandIcon {
  margin-right: 10px;
  height: 25px;
}

.footerLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: 1;
  height: auto;
  width: 45%;
}

@media (max-width: 768px) {
  .navbarMenu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #e7f0dc;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    display: none;
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }

  .navbarMenu.active {
    display: flex;
    z-index: 1;
  }

  .burgerIcon {
    display: flex;
  }
}

/* =======================================
   Register page 
   ======================================= */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.register-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7f0dc;
  width: 90vw;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 0px;
}

.register-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.info-title {
  display: flex;
  flex-direction: column;
}

.info-title label {
  color: #729762;
  font-size: 2.8rem;
  font-weight: 650;
  margin-top: 30px;
}

.info-title span {
  color: #729762;
  font-size: 1rem;
  font-weight: 500;
}

.info-title span a {
  color: #1c5c00;
  font-size: 1.2rem;
  font-weight: 600;
}

.info-check-breeder {
  font-size: 1.2rem;
  color: #1c5c00;
  font-weight: 600;
  margin-top: 40px;
}

.register-input {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-input form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-input form label {
  align-self: baseline;
  margin-left: 20px;
  font-size: 1.2rem;
  color: #282c34;
}

.register-input form input {
  border-radius: 50px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 70vw;
  font-size: 1.2rem;
}

.register-input form input:focus {
  outline: none;
}

#register-btn {
  height: 80px;
  width: 100%;
  color: #e7f0dc;
  background-color: #1c5c00;
  border-radius: 10px;
  margin-top: 60px;
  font-size: 2rem;
}
